
.div_select {
    text-align: center;
    height: 300px;
}

.div_cont {
    margin: 10px 5px;
}

.btn_providers {
    width: 180px;
    height: 80px;
    max-width: 200px;
}

.btn_close {
    width: 180px;
    height: 40px;
    max-width: 200px;
}