
.login_content {
    height: 100%;
    overflow: auto;
    background: linear-gradient(  rgba(255, 255, 255, 0.922),rgba(26, 255, 0, 0.237) );
    background-size: cover;
}

.footer_title {
   font-size: 13px;
   text-align: center;
   color: #373737;
}

.div_footer{
    height: 30px;
    padding-top:7px;
    background: #ededed;
}

.login_card_title {
 color: #ffffff;
}

.login_status {
 color: #da3e3e;
 
}

.login_card_header {
 padding-top:30px;

}

#btn-confirm {
 height: 50px;
}


//Card for mobile browser

.login_card {
   width: 100%;
   height: 100%;
   margin: auto auto;
   border-radius: 2px;
   background: url('../../../assets/img/login_ins_bgm.png') no-repeat ;
   background-size: cover;
   background-color: #ffffff36;
   min-height: 500px;
}
 
.card_content{
    margin: auto auto;
    max-width: 400px;
    padding-bottom: 25px;
  
 }


//Card for desktop browser

.login_card2 {
    width: 800px;
    min-height: 400px;
    margin: auto auto;
    margin-top: 170px;
    border-radius: 2px;
    background-color: #ffffff;
}
 

.card2_div {
    width: 800px;
    height: 100%;
}

.card2_div1 {
    width: 500px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    background: url('../../../assets/img/login_ins_bg4.png') no-repeat ;
    background-size: cover;
}

.card2_div2{
    width: 290px;
    height: 400px;
    padding-right: 40px;
    padding-top: 50px;
    vertical-align: top;
    display: inline-block;

}


.custom_div {
    padding-left: 5px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    background: #ffffff;
    border-radius: 2px;
}

.title{
    cursor: pointer;
}