<ion-header>
    <ion-toolbar>
        <ion-title>会社情報管理</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="div_content">
        <div class="div_action">      
            <ion-button  class="btn_action"   fill="solid" (click)="showCreateDailog()">
                <ion-icon  slot="start" name="add"></ion-icon>顧客の追加
            </ion-button>
        </div>             
        <div class="div_tbl">
            <div class="div_tblcontent">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="company_name">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">社名</th>
                        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="street_address">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">住所</th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">電話</th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="fax">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">FAX</th>
                        <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">備考</th>
                        <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="custom_header">備考</th>
                        <td mat-cell *matCellDef="let element">
                            <ion-button  class="btni_action" color="success" fill="clear" (click)="showContract(element.id)">
                                <ion-icon slot="icon-only" name="ribbon"></ion-icon>
                            </ion-button>
                            <ion-button   class="btni_action" fill="clear" (click)="showEditDailog(element)">
                                <ion-icon  slot="icon-only" name="create"></ion-icon>
                            </ion-button> 
                            <ion-button  class="btni_action" color="warning" fill="clear" (click)="deleteCustomer(element.id)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-button>
                        </td>                
                    </ng-container>       
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"  class="tbl_header"  ></tr>
                    <br>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [class.active]="row.id == selectedRowID"></tr>
                </table>
            </div>       
        </div>
    </div>
</ion-content>
