<ion-content>  
    <div class="login_content">
        <ion-card  class="login_card" >  
            <ion-card-header class="login_card_header">
                <div style="text-align: center; width: 100%; margin: 10px auto;">
                    <img style="width: auto ; height: 60px; margin: 5px auto; " src="/assets/icon/admin2.png">
                    <label style="font-size: 20px; color : white">システム管理ログインサービス</label>
                </div>
                <br>
                <b class="login_status">{{loginStatus}}</b>
            </ion-card-header>
            <ion-card-content class="card_content">
                    <form name="form2" (ngSubmit)="loginUser()">
                <ion-item color="transparent">
                    <ion-label position="floating">ログインID</ion-label>
                    <ion-input type="text"  [(ngModel)]="username" name="username"></ion-input>
                </ion-item>
                <ion-item color="transparent">
                    <ion-label position="floating">パスワード</ion-label>
                    <ion-input type="password"  [(ngModel)]="password" name="password" ></ion-input>
                </ion-item>
                <br>
                <div margin-vertical text-center>
                    <button  type="submit" hidden></button> 
                    <ion-button ion-button id="btn-confirm" expand="block" color="light" (click)="loginUser()">
                            <ion-icon name="unlock" slot="start">
                            </ion-icon><b>ログイン</b>
                    </ion-button>
                </div>
            </form> 
            </ion-card-content>
        </ion-card>       
    </div>
</ion-content>
           
  
  
<!-- Comment Area Below ...................................................... -->


<!-- <ion-title>システム管理</ion-title> --> <!-- 認証 -->
<!-- <ion-card-title class="login_card_title"></ion-card-title> -->
<!-- <div style="text-align: center; margin: 25px auto;" >
        <img style="width: auto ; height: 70px" src="/assets/logo1.png" >
        <br><label style="font-size: 35px; color : white">船積みネット</label></div> -->
        
<!-- <div class="div_chk"><ion-checkbox class="checkbox" [(ngModel)]="chkAdmin" name="checkbox"></ion-checkbox><ion-label>管理者としてログインする</ion-label></div>-->
<!-- (keyup.enter)="loginUser()"   (click)="loginUser()" -->

<!-- <ion-footer>
<ion-toolbar>
    <ion-title class="footer_title">日光ソフトウェアを搭載</ion-title>
</ion-toolbar>
</ion-footer> -->