.div_header_area{
    margin: 8px auto;
    padding: 15px;

    
}

.card_cont{
   
    margin: 10px auto;
    max-width: 500px;
    padding:10px 15px;
  
}

.btn_search{
    margin:15px auto;
}
.sel_option{
    font-size: 9px !important;
}


.div_notice{

    text-align: center;
    width: 100%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }