<ion-app>
    <ion-split-pane  when="(min-width: 1395px)"> 
        <ion-menu> 
            <ion-header>
                <ion-toolbar>
                <ion-title>{{authguard.provider_name}}</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list style="background-color: transparent !important;">                         
                    <ion-menu-toggle  auto-hide="false">
                        <ion-item  routerLink="/home" routerLinkActive="active">
                            <ion-icon   slot="start" name="home" ></ion-icon>
                            <ion-label>ホームページ</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                        
                    <div *ngFor="let x of authguard.authorized_items">
                        <ion-menu-toggle *ngIf="!x.children" auto-hide="false">
                            <ion-item  [routerDirection]="'root'" [routerLink]="[x.url]" routerLinkActive="active">
                                    <ion-icon  slot="start" [name]="x.icon"></ion-icon>
                                    <ion-label>{{x.title}}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </div>
                
                    <ion-menu-toggle  auto-hide="false">          
                        <ion-item routerLink="/login" [hidden] = "authguard.isAuthenticated || userlevelguard.authorized_admin"> 
                            <ion-icon  slot="start" name="log-in"></ion-icon>
                            <ion-label>ログイン</ion-label>
                        </ion-item> 
                    </ion-menu-toggle>
                </ion-list>        
            </ion-content>
            <div class="sidebar_footer">
                <div [hidden]= "!authguard.isAuthenticated" style="margin-bottom: 5px;">
                    <ion-icon name="contact"></ion-icon><label>{{authguard.username}}</label>    
                    <ion-icon  class="logout_icon" slot="icon-only" name="log-out"  (click)="logout()" [hidden]= "!authguard.isAuthenticated && !userlevelguard.authorized_admin"></ion-icon>
                </div>       
                <div [hidden]= "!authguard.isAuthenticated || !authguard.mycompany">
                    <ion-icon name="business"></ion-icon><label>{{authguard.mycompany}}</label>              
                </div>
            </div>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>




<!--.............. Comment Area Below ............. -->


