<ion-app>
    <ion-split-pane  when="(min-width: 1395px)"> 
        <ion-menu> 
            <ion-header>
                <ion-toolbar>
                <ion-title>{{authguard.provider_name}}</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list style="background-color: transparent !important;">                
                
                    <ion-menu-toggle  auto-hide="false">
                        <ion-item  routerLink="/home" routerLinkActive="active">
                            <ion-icon   slot="start" name="home" ></ion-icon>
                            <ion-label>ホームページ</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                        
                    <div *ngFor="let x of authguard.authorized_items">
                        <ion-menu-toggle *ngIf="!x.children" auto-hide="false">
                            <ion-item  [routerDirection]="'root'" [routerLink]="[x.url]" routerLinkActive="active">
                                    <ion-icon  slot="start" [name]="x.icon"></ion-icon>
                                    <ion-label>{{x.title}}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        
                        <ion-item button *ngIf="x.children?.length > 0" (click)="x.open = !x.open" [class.active-parent] ="x.open" detail="false">
                            <ion-icon slot="start"  [name]="x.icon" *ngIf="!x.open"></ion-icon>
                            <ion-icon slot="start" name="arrow-down" *ngIf="x.open"></ion-icon>
                            <ion-label>{{x.title}}</ion-label>
                        </ion-item>
                        <ion-list  style=" background: none !important; margin-top:1px;" *ngIf="x.open">
                            <ion-menu-toggle  auto-hide="false">
                                <ion-item class="sub-item" *ngFor="let sub of x.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                                    <ion-label>{{sub.title}}</ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>
                    </div>
                
                    <ion-menu-toggle  auto-hide="false">          
                        <ion-item  routerLink="/inspection/login" [hidden] = "authguard.isAuthenticated || userlevelguard.authorized_admin" > 
                            <ion-icon  slot="start" name="clipboard"></ion-icon>
                            <ion-label>検査ログイン</ion-label>
                        </ion-item> 
                        <ion-item routerLink="/login" [hidden] = "authguard.isAuthenticated || userlevelguard.authorized_admin"> 
                            <ion-icon  slot="start" name="log-in"></ion-icon>
                            <ion-label>ログイン</ion-label>
                        </ion-item> 
                    </ion-menu-toggle>
                                  
                    <!-- <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/user-setting" routerLinkActive="active" [hidden]= "!authguard.isAuthenticated && !userlevelguard.authorized_admin">
                            <ion-label>アカウント設定</ion-label>
                            <ion-icon class="logout_icon" slot="start" name="settings"></ion-icon>  
                        </ion-item>
                    </ion-menu-toggle>  -->
                </ion-list>        
            </ion-content>
            <div class="sidebar_footer">
                <div [hidden]= "!authguard.isAuthenticated" style="margin-bottom: 5px;">
                    <ion-icon name="contact"></ion-icon><label>{{authguard.username}}</label>    
                    <ion-icon  class="logout_icon" slot="icon-only" name="log-out"  (click)="logout()" [hidden]= "!authguard.isAuthenticated && !userlevelguard.authorized_admin"></ion-icon>
                </div>       
                <div [hidden]= "!authguard.isAuthenticated || !authguard.mycompany">
                    <ion-icon name="business"></ion-icon><label>{{authguard.mycompany}}</label>              
                </div>
            </div>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>









<!--.............. Comment Area Below ............. -->


