<ion-header>
  <ion-toolbar> 
    <ion-buttons>     
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="cd_home">  
      <ion-card-header>
          <ion-card-subtitle>始める</ion-card-subtitle>
          <ion-card-title>出荷アプリへようこそ<img class="img_home" alt="funadumi site" src="assets/img/banner2.png"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Shipping.netと統合され、出荷アプリは、計量の詳細の簡単なエンコーディングと表示を提供しています。<br>出荷ヤード操作用に設計されています。</p>
      </ion-card-content>
      <ion-button fill="clear"> 
        <ion-icon name="document" slot="start"></ion-icon> 
        <a style="text-decoration: none;"href="/assets/pdfviewer.html" target="_blank">ユーザーズマニュアル</a>
      </ion-button>     
      <ion-button fill="clear" routerLink="/inspection/login" [hidden]="authguard.isAuthenticated"> 
        <ion-icon name="clipboard" slot="start"></ion-icon>ヤード検査サービス
      </ion-button>
      <ion-button fill="clear" routerLink="/weighing" *ngIf="authguard.user_type == 'admin'"> 
        <ion-icon name="cube" slot="start"></ion-icon>管理用実績集計
      </ion-button>
      <ion-button fill="clear" routerLink="/qrscanner">
        <ion-icon name="qr-scanner" slot="start"></ion-icon>QR スキャンを開始
      </ion-button>          
  </ion-card>
</ion-content>



<!--.............. Comment Area Below ............. -->
