.welcome-card ion-img {
  max-height: 35vh;
}

.cd_home {
  padding: 25px;
  margin: auto auto;
  overflow: auto;
}

.desc {
  font-size: 12px;
}

.img_home {
  max-width: 720px;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .cd_home {
    height: 100%; 
  }
}
