.div_cont {
    padding-top: 180px;
}

.div_error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_error1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    color: #fc8333;
}

.lbl_message {
    font-size: 13px;
    margin: auto 15px;
}

.icon1 {
    font-size: 80px;
    color: #fc8333;
}

.div_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}


