.div_content {
    width: 100%;
    padding: 10px;
}

.div_resultmenu {
    width: 100%;
    margin: auto auto;
    max-width: 1035px;
}

.div_tblcont {
    padding: 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.tbl_result {
    overflow: scroll;
    width: 100%;
    margin: 10px auto;
    min-width: 600px;
    max-width: 1035px;
}

th {
    font-weight: 400;
    font-size: 14px;
    padding: 3px;
    color: #ffffff;  
    background-color: #07507e;
}

tr {
    font-size: 13px;
    border: .5px solid black;
}

td {
    padding: 5px;
    text-align: right;
}

.td_sub {
    color: #367a1a;
    text-align: left;
}

.tr_subvTotal td {
    border-left:  none;
    border-right:  transparent;
}
    
.tr_subvTotal {
    background: #eaeaea;
    text-align: right;  
    font-weight: bold;
    color: #454545;
    border-top: solid .5px #c3c3c3;
}

.td_last {
    border:none;
    border-bottom: dashed .5px;
}

.td_mid {
    border:none;
 }
 
.tr_group {
    border:none;
}

.td_numbers {
    padding-right: 20px;
}

.td_lbltotal {
    text-align: left;
}

.div_toggle {
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}


// table over all Total /////////////////////////////////////////

.tbl_total {
    width: 100%;    
    margin: 10px auto;
    max-width: 1035px;
}

.tbl_total th {
    color: #ffffff;
    background-color: #7c7c7c;
}

.tbl_total td {
    color: #002c5a;
    font-weight: 500;
}


// Buttons and Labels //////////////////////////////////////////

.btn_download {
    vertical-align: middle;    
    margin-top: 5px;
}

.lbl_result {
    color: #fc0101;
    font-weight: 500;
}

.lbl_show {
    vertical-align: middle;
    font-size: 12px; 
}

.lbl_param {
    font-size: 12px;
}

.lbl_double {
    font-size: 9px; 
    display:inline-block; 
    margin-left: 10px;
    width: 20px;
}

ion-toggle {
    vertical-align: middle;
    zoom: 0.6;
}

// Add Color on columns for readability//////////////////////////
.td_gross {
    background: #bef3c285;
}
.td_tare {
    background: #f1f3be85;
}

.td_net {
    background: #f3dbbe85;
}
.td_reduce {
    background: #f3bebe85;
}

.td_weight {
    background: #bedaf385;
}

.td_total {
    color: #ffffff;
    font-weight: 500;
    background-color: #7c7c7c;
}


@media screen and (max-width: 630px) {

    tr {
        font-size: 9px; 
    }
    
    .tr_vname {
        font-size: 11px;
    }
    
    .lbl_show {
        vertical-align: middle;
        font-size: 11px; 
    }
    
    .lbl_param {
        font-size: 11px;
    }
    
    .div_tblcont {
        padding: 0px;
    }
    
    .tbl_result {
        min-width: 550px;   
    }
    
}
