.div_content {
    width: 100%;
    padding: 10px;
}

.div_resultmenu {
    width: 100%;
    margin: auto auto;
    max-width: 1035px;
}


.div_tblcont {
    padding: 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.tbl_result {
    overflow: scroll;
    width: 100%;
    margin: 10px auto;
    min-width: 600px;
    max-width: 1035px;
}

th { 
    font-weight: 400;
    font-size: 14px;
    padding: 3px;
    color: #ffffff;  
    background-color: #07507e;
}

tr{ 
    font-size: 13px;
    border: .5px solid black;
}

td {
    border: .5px solid black;
    padding: 5px;
    text-align: right;
}

.td_sub {
    color: #367a1a;
    text-align: left;
}

.tr_vname {
    background-color: #bae4fd81;
    font-size: 15px;
}

.tr_vname td {
    text-align: left;
}

.tr_subvTotal {
    background: #bef3c285;
    text-align: right;  
    font-weight: bold;
}

.tr_vtotal {
    background: #95fd1585;
    text-align: right;  
    font-weight: bold;
}

.td_vtotalname {
    text-align: left;
}

.div_toggle {
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

.div_colors {
    display: inline;   
    padding-top: 5px; 
    vertical-align: middle; 
    margin-left: 5px;
}

// table over all Total /////////////////////////////////////////

.tbl_total {
    width: 100%;    
    margin: 10px auto;
    max-width: 1035px;
}

.tbl_total th {
    color: #ffffff;
    background-color: #7c7c7c;
}

.tbl_total td {
    color: #002c5a;
    font-weight: 500;
}


// Buttons and Labels //////////////////////////////////////////

.btn_download {
    vertical-align: middle;    
    margin-top: 5px;
}

.lbl_result {
    color: #fc0101;
    font-weight: 500;
}

.lbl_show {
    vertical-align: middle;
    font-size: 12px; 
}

.lbl_param {
    font-size: 12px;
}

.lbl_nashi {
    font-size: 12px; 
    margin-left: 3px; 
    vertical-align: middle;
}

ion-toggle {
    vertical-align: middle;
    zoom: 0.6;
}


// Add Color on columns for readability//////////////////////////
.td_gross{
    background: #bef3c285;
}
.td_tare{
    background: #f1f3be85;
}
.td_net{
    background: #f3dbbe85;
}
.td_reduce{
    background: #f3bebe85;
}

.td_weight{
    background: #bedaf385;
}


@media screen and (max-width: 630px) {

    tr { 
        font-size: 9px; 
    }
    
    .tr_vname {
        font-size: 11px;
    }
    
    .lbl_show {
        vertical-align: middle;
        font-size: 11px; 
    }
    
    .lbl_param {
        font-size: 11px;
    }
    
    .div_tblcont {
        padding: 0px;
    }
}

.td_sub {
    cursor: pointer;
}