<ion-header>
  <ion-toolbar>
    <ion-title>完成した検査</ion-title>
    <ion-buttons slot="start" *ngIf="!MobileBrowser">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" *ngIf="MobileBrowser" [routerLink]="backURL" defaultHref="{{backURL}}"></ion-back-button>
    <ion-buttons slot="end"  *ngIf="MobileBrowser">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card_cont">
    <ion-card-header class="header">
        <div class="card_header">
          <ion-card-title>検査リスト
            <ion-button class="btn_refresh" fill="solid" (click)="getInspectionHistory()">リロード
              <ion-icon slot="start" name="refresh-circle"></ion-icon>
          </ion-button>
          </ion-card-title>
          <ion-card-subtitle>今日の完成した検査のリスト。
            <br>
            <label class="lbl_status">{{lbl_status}}</label>      
          </ion-card-subtitle>
        </div>
    </ion-card-header>
    <div class="div_tbl">  
      <div class="div_tblhandler">
        <table class="tbl_logs">  
          <tr>        
            <th>伝票 No.</th>   <!-- Weighing No -->             
            <th>代納業者</th>    <!-- Subvendor -->      
            <th>車番</th>       <!-- Car No -->      
            <th>検査日</th>     <!-- Inspection Date -->  
            <th></th>             
          </tr>     
          <ng-container  *ngFor="let logs of arr_logs" border="1" >                 
            <tr>       
              <td class="td_center">{{logs.weighing_no}}</td>   
              <td class="td_center">{{logs.subvendor_name}}</td>   
              <td class="td_center">{{logs.car_no}}</td>
              <td class="td_vtotalname">{{logs.inspection_date}}</td>
              <td>     
                <ion-button fill="clear" (click)="viewWeighing(logs.weighing_id, logs.provider_id, logs.weighing_date)">
                  <ion-icon slot="icon-only" name="share-alt"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </ng-container> 
        </table>
      </div>
    </div>
  </div>
</ion-content>


<!--.............. Comment Area Below ............. -->

<!--   <th>納入業者</th>     Vendor Name --> 
<!-- <ion-button class="btn_download" fill="solid" [hidden]="hide_btndl"  (click)="downloadCSV()">ダウンロード
    <ion-icon name="download" slot="start"></ion-icon>
</ion-button> -->